.tc__date-time {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  &--vertical {
    flex-direction: column;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  .tc__date-time--date {
    font-size: 1.5rem;
    flex: 1 1 50%;
    @media screen and (max-width: 767px) {
      font-size: 3vw;
    }
    @media screen and (max-width: 480px) {
      font-size: 5vw;
    }
  }
  .tc__date-time--time {
    font-size: 2.5rem;
    flex: 1 1 50%;
    @media screen and (max-width: 767px) {
      font-size: 6vw;
    }
    @media screen and (max-width: 480px) {
      font-size: 8vw;
    }
  }
}
