.tc__banner-carousel {
  //background-color: rgba(0,0,0,0.5);
  .carousel-inner {
    //height: 0;
    //margin-bottom: 100%;
  }

  .carousel-item {
    &-next,
    &-prev,
    &.active {
      display: flex;
    }
    align-items: center;
    justify-content: space-around;
    height: 100%;
    img.img-fluid {
      min-width: 100%;
    }
    &.banner-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
    }
  }
}
